.product__similar__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 3% 0;
  display: block;
}
@media (min-width: 768px) {
  .product__similar__title {
    margin: 1% 0 3%;
  }
}
@media (min-width: 1024px) {
  .product__similar__title {
    margin: 1% 0 2%;
  }
}
