.product__image {
  overflow: hidden;
}
@media (min-width: 768px) {
  .product__image {
    flex: 1;
  }
}
@media (min-width: 1024px) {
  .product__image {
    width: 50%;
    height: 45vh;
    overflow: hidden;
  }
}