@import url("./reset.css");
@import url("./menu/menu.css");
@import url("./banner/banner.css");

html{
    scroll-behavior: smooth;
    font-size: 16px;
}
button{
    border: none;
}
input{
    border: none;
    outline: none;
}