@import url("./reset.css");
@import url("./menu/menu.css");
@import url("./banner/banner.css");
@import url("./products/products.css");
@import url("./form/form.css");
@import url("./footer/footer.css");

html{
    scroll-behavior: smooth;
    font-size: 16px;
}
button{
    border: none;
}
input, textarea{
    border: none;
    outline: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
}
