.create__product__title{
    font-size: 1.3rem;
    color: #464646;
}
@media (min-width:726px) {
    .create__product__title{
        font-size: 2rem;
    }
}
@media (min-width:1024px) {
    .create__product__title{
        margin-bottom: 1rem;
    }
}