.product__card__box {
  width: calc((100% - 3rem) / 2);
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  gap: 0.7rem;
}
/* .product__card__box:last-child{
  justify-self: start;
} */
@media (min-width: 726px) {
  .product__card__box {
    width: calc((100% - 4rem) / 4);
  }
}
@media (min-width: 1024px) {
  .product__card__box {
    width: calc((100% - 6.25rem) / 6);
  }
}
