@import url("./login-container.css");
@import url("./login-title.css");
@import url("./login-input.css");
@import url("./login-button.css");

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}
