.form__wrapper{
    padding: 5% 0 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin-bottom: 5%;
}
@media (min-width: 768px) {
    .form__wrapper{
        padding: 2% 0 0;
    }
}