.form__input {
  font-size: 1.2rem;
  transition: all 0.25s;
}
.form__input::placeholder {
  visibility: hidden;
  color: #00000000;
}
.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label {
  font-size: 0.875rem;
  top: 0.4rem;
  transition: all 0.25s;
}
.login__input:focus{
    margin-top: 1rem;
}
@media (min-width: 726rem) {
  .login__input:focus{
    margin-top: 1.5rem;
}
  .form__input:not(:placeholder-shown) + .form__label,
  .form__input:focus + .form__label {
    top: 0.7rem;
  }
}
