@import url("./form-wrapper.css");
@import url("./form-label.css");
@import url("./form-input.css");
@import url("./form-message.css");
@import url("./form-button.css");
@import url("./form-title.css");

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:0.5rem 0;
}