.form__label {
  position: absolute;
  color: #a2a2a2;
  font-size: 1.2rem;
  transition: all 0.25s;
  top: 1rem;
  left: 1rem;
}
@media (min-width: 768px) {
  .form__label {
    top: 1rem;
    font-size: 1.5rem;
  }
}
