.modal__message{
    width: 90%;
    margin: 5% auto;
    background-color: white;
    padding: 5%;
    box-sizing: border-box;
    font-size:1.5rem;
    border-radius: 10px;
}
.modal__message div{
    text-align: right;
    cursor: pointer;
}
.modal__message p{
    color: red;
    font-size: 600;
    text-align: center;
}