.products__add{
    background-color: #2A7AE4;
    color: white;
    width: 50%;
    padding: 2%;
    cursor: pointer;
}

@media (min-width: 768px) {
  .products__add{
    width: 30%;
  }  
}
@media (min-width: 1024px) {
  .products__add{
    width: 20%;
    font-size: 1.2rem;
    padding: 1%;
  }  
}