@import url("./products-header.css");
@import url("./products-menu.css");
@import url("./products-add.css");
@import url("./products-title.css");
@import url("./products-link.css");
@import url("./product-card/products-cards.css");
@import url("./product-card/product-card-box.css");
@import url("./product-card/product-card-title.css");
@import url("./product-card/product-card-price.css");
@import url("./product-card/product-card-link.css");

/* create, edit y delete products  */
@import url("./create/create-product.css");
@import url("./create/create-product-title.css");
@import url("./product-card/product-card-edit-bar.css");
@import url("./product-card/product-edit-button.css");

.products {
  padding: 1rem;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .products,
  .products__starwars,
  .products__console,
  .products__divers {
    margin: 1rem 6.25rem;
  }
}
