.products__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  .products__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2%;
  }
}

