@import url("./products-header.css");
@import url("./products-title.css");
@import url("./products-link.css");
@import url("./products-cards.css");
@import url("./product-card.css");
@import url("./product-card-image.css");
@import url("./product-card-title.css");
@import url("./product-card-price.css");
@import url("./product-card-link.css");

.products{
    padding: 2rem;
    box-sizing: border-box;
}
@media(min-width:1024px){
    .products{
        margin: 2rem 6.25rem;
    }
}